---
import { CollectionEntry, getCollection } from "astro:content";

const newsEntries = await getCollection("about-us");
console.log(newsEntries);
export function formatDate(dateString: string | number | Date) {
  const date = new Date(dateString);
  const options = { year: 'numeric', month: 'short', day: 'numeric' };
  return date.toLocaleDateString(undefined, options);
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medigy - Tailwind</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <style>
        :root { background-color:transparent; }
    </style>
</head>
<body style="background-image:url(images/bg-pattern.jpg)" class="bg-repeat">
<div class="w-full h-screen min-h-screen text-base">
  

<main class="min-h-main">
  
</main>
</div>
</body>
</html>
